.RepoContainerCard {
  display: flex;
  justify-content: space-around;
  /* width: 500px; */
  height: 12vh;
}

.ImageContianer {
  width: 20%;
  /* flex-grow: 1; */
}

.RepoContent {
  width: 70%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.RepoName {
  background-color: white;
  display: inline-flex;
  font-size: 24px;
  font-weight: bold;
}
.RepoDescription {
  /* background-color: black; */
  display: inline-flex;
}

.RepoInfo {
  /* background-color:; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 70%; */
}

.NbContainer {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.TimeContainer {
  width: 50%;
}

.NbStars {
  flex-grow: 1;
  border-style: solid;
  margin-right: 2%;
  text-align: center;
  /* width: 50%; */
}

.NbIssues {
  flex-grow: 1;
  border-style: solid;
  margin-right: 2%;
  /* width: 50%; */
  text-align: center;
}

.TimeInterval {
  flex-grow: 2;
  text-align: start;
}

@media only screen and (max-width: 530px) {
  /* For mobile phones: */
  .RepoContainerCard{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height:28vh;
      margin-top: 15px;
  }
}
