#CardsCotainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500vh;
}

@media only screen and (max-width: 530px) {
    /* For mobile phones: */
    #CardsCotainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 850vh;
    }
  }
  